{{ $params := dict
"light" (dict
"icon" "sun"
)
"dark" (dict
"icon" "moon"
)
"auto" (dict
"icon" "screen"
)
}}

{{ with index $params .theme }}
<button class="w-9 h-9 flex items-center justify-center rounded-full
    bg-background ring-1 ring-border dark:ring-white/40 border-0
    text-muted-foreground/70
    hover:bg-accent/50
    hover:text-foreground
    transition-colors my-0.5" onclick="setTheme('{{ $.theme }}')" aria-label="{{ .label }}">
    <div class="i-carbon-{{ .icon }} w-4 h-4"></div>
</button>
{{ end }}