{{ $enableComments := .Params.comments | default .Site.Params.comments.enable }}
{{ if $enableComments }}

{{ partial "utils/loadcss.html" "css/twikoo.css" }}

<div class="mt-16 pt-8 border-t border-border/40 dark:border-border-dark/40">
    <!-- 评论区标题 -->
    <div class="flex items-center gap-2 mb-8">
        <div class="i-carbon-chat w-5 h-5 text-primary/80"></div>
        <h3 class="text-lg font-medium">评论</h3>
    </div>
    
    <!-- Twikoo 容器 -->
    <div id="twikoo"></div>
</div>

<!-- Twikoo 脚本 -->
<script src="https://cdn.jsdelivr.net/npm/twikoo@{{ .Site.Params.comments.twikoo.version }}/dist/twikoo.all.min.js"></script>
<script>
    twikoo.init({
        envId: '{{ .Site.Params.Comments.Twikoo.envId }}',
        el: '#twikoo',
        lang: 'zh-CN'
    });
</script>
{{ end }} 