<div class="grid grid-cols-5 lg:flex place-items-center gap-3 
    animate-fade-up opacity-0" 
    style="animation-delay: 0.8s; animation-fill-mode: forwards;">
    {{ range .Site.Params.social }}
    {{ if .enable }}
    <a href="{{ .url }}" title="{{ .name }}" target="_blank"
        class="flex items-center justify-center hover:opacity-80 text-white p-2.5 rounded-full"
        style="background-color: {{ .color }}">
        <div class="{{ .icon }} w-5 h-5"></div>
    </a>
    {{ end }}
    {{ end }}
</div>