<link href="https://cdn.jsdmirror.com/npm/artalk@2.9.1/dist/Artalk.css" rel="stylesheet" />
{{ partial "utils/loadcss.html" "css/components/article/comments/artalk.css" }}

<div class="mt-12 md:mt-16 pt-6 md:pt-8 border-t border-border/40 dark:border-border-dark/40">
    <!-- 评论区标题 -->
    <div class="flex items-center gap-2 mb-8">
        <div class="i-carbon-chat w-5 h-5 text-primary/80"></div>
        <h3 class="text-lg font-medium">评论</h3>
    </div>

    <!-- Artalk 容器 -->
    <div id="artalk" class="plain-link"></div>
</div>

<!-- JS -->
<script src="https://cdn.jsdmirror.com/npm/artalk@2.9.1/dist/Artalk.js" defer></script>

<script defer>
    function initArtalk() {
        window.artalk = Artalk.init({
            el: '#artalk',
            pageKey: '{{ printf "/%s" (trim .RelPermalink "/") }}',
            pageTitle: '{{ .Page.Title }}',
            server: '{{ .Site.Params.comments.artalk.server }}',
            site: '{{ .Site.Title }}',
            darkMode: currentTheme === 'dark',
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        if (currentTheme === null) getTheme();
        initArtalk();

        // 主题变化后动态切换暗黑模式
        new MutationObserver(() => {
            if (window.artalk) window.artalk.setDarkMode(currentTheme === 'dark');
        }).observe(document.documentElement, {
            attributes: true,
            attributeFilter: ['class']
        });
    });
</script>