<i class="i-carbon-home"></i>
<i class="i-carbon-email"></i>
<i class="i-carbon-logo-github"></i>
<i class="i-carbon-logo-gitlab"></i>
<i class="i-mdi-bitbucket"></i>
<i class="i-simple-icons-codeberg"></i>
<i class="i-simple-icons-gitee"></i>
<i class="i-simple-icons-sourcehut"></i>
<i class="i-simple-icons-gitea"></i>
<i class="i-simple-icons-forgejo"></i>
<i class="i-carbon-logo-weibo"></i>
<i class="i-carbon-logo-twitter"></i>
<i class="i-carbon-logo-facebook"></i>
<i class="i-carbon-logo-instagram"></i>
<i class="i-carbon-logo-linkedin"></i>
<i class="i-carbon-logo-mastodon"></i>
<i class="i-simple-icons-misskey"></i>
<i class="i-ph-fediverse-logo"></i>
<i class="i-simple-icons-bluesky"></i>
<i class="i-simple-icons-medium"></i>
<i class="i-simple-icons-substack"></i>
<i class="i-simple-icons-wordpress"></i>
<i class="i-simple-icons-wix"></i>
<i class="i-mdi-reddit"></i>
<i class="i-simple-icons-zhihu"></i>
<i class="i-mdi-douban"></i>
<i class="i-mdi-flickr"></i>
<i class="i-mdi-deviantart"></i>
<i class="i-mdi-spotify"></i>
<i class="i-mdi-soundcloud"></i>
<i class="i-simple-icons-bandcamp"></i>
<i class="i-simple-icons-neteasecloudmusic"></i>
<i class="i-simple-icons-pixiv"></i>
<i class="i-carbon-logo-youtube"></i>
<i class="i-simple-icons-bilibili"></i>
<i class="i-simple-icons-tiktok"></i>
<i class="i-simple-icons-peertube"></i>
<i class="i-mdi-telegram"></i>
<i class="i-mdi-discord"></i>
<i class="i-simple-icons-signal"></i>
<i class="i-carbon-logo-qq"></i>
<i class="i-carbon-logo-wechat"></i>
<i class="i-simple-icons-matrix"></i>
<i class="i-simple-icons-liberapay"></i>
<i class="i-mdi-patreon"></i>
<i class="i-simple-icons-buymeacoffee"></i>
<i class="i-simple-icons-kofi"></i>
<i class="i-simple-icons-opencollective"></i>
<i class="i-simple-icons-googlescholar"></i>
<i class="i-simple-icons-researchgate"></i>
<i class="i-simple-icons-arxiv"></i>
<i class="i-simple-icons-orcid"></i>

<i class="i-carbon-train"></i>

<div class="i-carbon-moon"></div>