<i class="i-carbon-home"></i>
<i class="i-carbon-email"></i>
<i class="i-carbon-logo-github"></i>
<i class="i-carbon-logo-gitlab"></i>
<i class="i-carbon-logo-youtube"></i>
<i class="i-carbon-logo-twitter"></i>
<i class="i-carbon-logo-facebook"></i>
<i class="i-carbon-logo-instagram"></i>
<i class="i-carbon-logo-linkedin"></i>
<i class="i-mdi-telegram"></i>
<i class="i-simple-codeberg"></i>
<i class="i-simple-gitee"></i>
<i class="i-simple-bilibili"></i>
<i class="i-carbon-rss"></i>
<i class="i-mdi-email-newsletter"></i>
<i class="i-simple-orcid"></i>
<i class="i-simple-matrix"></i>
<i class="i-carbon-logo-mastodon"></i>
<i class="i-carbon-train"></i>