<i class="i-carbon-home"></i>
<i class="i-carbon-email"></i>
<i class="i-carbon-logo-github"></i>
<i class="i-carbon-logo-gitlab"></i>
<i class="i-carbon-logo-youtube"></i>
<i class="i-carbon-logo-twitter"></i>
<i class="i-carbon-logo-facebook"></i>
<i class="i-carbon-logo-instagram"></i>
<i class="i-carbon-logo-linkedin"></i>
<i class="i-mdi-telegram"></i>
<i class="i-simple-icons-codeberg"></i>
<i class="i-simple-icons-gitee"></i>
<i class="i-simple-icons-bilibili"></i>
<i class="i-carbon-rss"></i>
<i class="i-mdi-email-newsletter"></i>
<i class="i-simple-icons-orcid"></i>
<i class="i-simple-icons-matrix"></i>
<i class="i-carbon-logo-mastodon"></i>
<i class="i-simple-icons-bluesky"></i>
<i class="i-carbon-train"></i>

<div class="i-carbon-moon"></div>
<div class="i-carbon-screen"></div>