<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head.html" . }}
    {{ block "head" . }}{{ end }}
</head>

<body class="flex flex-col min-h-screen bg-background text-foreground dark:bg-background-dark dark:text-foreground-dark 
             transition-colors">

    <!-- 加载动画 -->
    {{ partialCached "components/loading-screen.html" . }}

    <!-- 主要内容区域 -->
    <div class="flex flex-col flex-grow">
        {{ partial "nav" . }}
        <main class="flex-grow">
            {{ block "main" . }}{{ end }}
        </main>
    </div>

    <!-- 页脚 -->
    {{ partial "footer.html" . }}
</body>

<footer>
    {{ with resources.Get "js/components/loading.js" }}
        <script>{{ .Content | safeJS }}</script>
    {{ end }}
</footer>

</html>