:root {
    --tk-radius: 12px;
    --tk-second-radius: 6px;
    --tk-card-border-width: 1px;
    --tk-cl-green: rgba(181, 206, 154, 0.8);
    --tk-border-color: #e3e8f7;
    --tk-card-bg: #fff;
    --tk-card-border: #e3e8f7;
    --tk-owo-body-bg-color: rgba(255, 255, 255, 0.7);
    --style-border-always: 1px solid var(--tk-card-border);
}

html.dark {
    --tk-border-color: #42444a;
    --tk-card-bg: #2c2c2c;
    --tk-card-border: #42444a;
    --tk-owo-body-bg-color: rgba(0, 0, 0, 0.7);
    --tk-text: #ccb !important;
    --style-border-always: 1px solid var(--tk-card-border);
    --tk-cl-green: rgba(143, 168, 116, 0.8);
}

/* 动画 */
@keyframes owoIn {
    0% {
        transform: translate(0, -95%);
        opacity: 0;
    }

    100% {
        transform: translate(0, -112%);
        opacity: 1;
    }
}

@keyframes donate_effect {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        filter: none;
        transform: translateY(0);
    }
}

/*~ tk-submit ~*/

.tk-submit .tk-avatar {
    display: none;
}

/* 把个人信息翻下去 */
.tk-row {
    .tk-col {
        flex-direction: column-reverse;
    }
}

/* 个人信息 */
.tk-meta-input {
    min-height: 40px;
    position: relative;
    margin-top: 10px;

    input {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        min-height: inherit;
    }

    .el-input__inner:focus {
        border-color: rgba(144, 147, 153, 0.7);
    }

    .el-input-group__prepend {
        background: inherit;
    }

    div {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        min-height: inherit;
    }
}

/* 评论框 */
.tk-input.el-textarea {
    textarea {
        padding-top: 16px;
        border-radius: 12px;
        min-height: 150px !important;
        height: auto;
        line-height: 1.5;
    }
}

/* 底下的一排按钮 */
.tk-row.actions {
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    margin-left: auto;

    button.el-button {
        border-radius: 12px !important;
    }

    .__markdown {
        display: none;
    }

    .tk-send {
        background-color: var(--tk-cl-green);
    }
}

/* 表情面板 */
.OwO {
    .OwO-body {
        overflow: visible;
        min-width: 31.25px;
        border-radius: 8px !important;
        background-color: var(--tk-owo-body-bg-color);
        backdrop-filter: saturate(150%) blur(15px) !important;
        animation: .3s ease .1s 1 normal both running donate_effect;
        color: var(--tk-text);
    }

    /* 这颜文字我是修不好了，爱咋咋的吧 */
    .OwO-items {
        height: 197px;
        overflow: auto;

        .OwO-item {
            display: inline-block;
            white-space: nowrap;
        }
    }

    .OwO-items-show {
        margin: 12px 8px;
    }
}

/*~ tk-comments-container ~*/

/* 评论区主题样式 */
.tk-comments-container {
    margin-top: 5px;
}

.tk-comments-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--tk-text);
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    .__comments {
        color: inherit;
    }
}

.tk-comment {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding-top: 1rem;
    font-size: inherit;
    line-height: 1.75 !important;
    display: flex;
    flex-direction: row;
    word-break: break-all;

    .tk-avatar.tk-has-avatar {
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 16px !important;
        object-fit: cover;
    }
}

.tk-main {
    flex: 1;

    .tk-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .tk-meta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .tk-nick {
            font-size: 1rem !important;
            line-height: 32px;
        }

        .tk-time {
            font-size: 0.8rem;
            color: #666;
            margin-left: 8px;
            overflow: hidden;
        }
    }

    .tk-action {
        border: var(--style-border-always);
        border-radius: var(--tk-second-radius);
        padding: 2px 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;

        &:hover {
            background-color: var(--tk-card-bg);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .tk-action-link:first-child {
            display: none;
        }

        .tk-action-count {
            color: var(--tk-cl-green);
        }
    }

    .tk-content {
        margin-top: 0.2rem;
    }

    .tk-content {
        margin-top: 0.2rem;
    }
}

.tk-replies {
    max-height: 10rem !important;

    &.tk-replies-expand {
        max-height: none !important;
    }

    .tk-content span:first-child:not(.token) {
        font-size: .75rem;
        color: var(--anzhiyu-secondtext);
    }
}

.tk-ruser {
    color: var(--tk-cl-green);
}

.twikoo svg {
    color: var(--tk-text);
}

.tk-tag-green {
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: var(--tk-cl-green);
    margin-left: 6px;
}

.tk-admin {
    backdrop-filter: blur(5px);
}

/* 隐藏 Powered By Twikoo */
.tk-footer {
    display: none;
}