{{ define "main" }}
<article class="prose prose-neutral dark:prose-invert max-w-4xl mx-auto px-4 py-20">
    <header class="not-prose mb-16">
        <h1 class="text-3xl font-bold mb-6">{{ .Title }}</h1>
        <!-- 文章特有的元信息 -->
        <div class="flex flex-wrap items-center gap-x-6 gap-y-3 text-sm text-muted-foreground/80">
            <time class="tabular-nums">{{ .Date.Format "2006-01-02" }}</time>
            
            <div class="flex items-center gap-2">
                <div class="i-carbon-time w-4 h-4 opacity-60"></div>
                <span>{{ .ReadingTime }} min read</span>
            </div>

            {{ with .Params.categories }}
            <div class="flex items-center gap-2">
                <div class="i-carbon-category w-4 h-4 opacity-60"></div>
                {{ range . }}
                <a href="/categories/{{ . | urlize }}" 
                    class="hover:text-foreground transition-colors">
                    {{ . }}
                </a>
                {{ end }}
            </div>
            {{ end }}
        </div>
        
        {{ with .Description }}
        <p class="text-lg text-muted-foreground mt-6">{{ . }}</p>
        {{ end }}
    </header>

    {{ .Content }}
    
    <!-- 文章特有的底部信息 -->
    <footer class="not-prose mt-16 pt-8 border-t border-border/60">
        {{ with .Params.tags }}
        <div class="flex flex-wrap items-center gap-2 text-sm">
            <span class="text-muted-foreground/60">标签：</span>
            {{ range . }}
            <a href="/tags/{{ . | urlize }}" 
                class="px-2 py-1 rounded-md bg-accent/50 hover:bg-accent/70 transition-colors">
                {{ . }}
            </a>
            {{ end }}
        </div>
        {{ end }}
    </footer>
</article>
{{ end }}