{{/* 统计总字数 */}}
{{ $totalWord := 0 }}
{{ range .Site.RegularPages }}
{{ $totalWord = add $totalWord .WordCount }}
{{ end }}
{{ $wowWord := div $totalWord 10000 }}

{{ $wowBook := "还在努力更新中..加油！加油啦" }}
{{ $wowbooks := .Site.Data.external.wowbook }}

{{ range $wowbooks }}
{{ if ge $wowWord .words }}
{{ $wowBook = .text }}
{{ break }}
{{ end }}
{{ end }}

<div class="flex items-center gap-2">
    <div class="i-carbon-text-font w-4 h-4"></div>
    <span>
        共 <span class="tabular-nums font-mono">{{ $totalWord }}</span> 字
        <span class="mx-1">·</span>
        {{ $wowBook | safeHTML }}
    </span>
</div>