{{ partial "head/meta.html" . }}

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="icon" href="/favicon.svg" type="image/svg+xml">

<!-- 主题初始化 -->
<script>
  (function () {
    const theme = localStorage.getItem('theme') ||
      (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');

    if (theme === 'dark' ||
      (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    }
  })();
</script>

<link rel="dns-prefetch" href="https://cdn.jsdmirror.com">
<link rel="preconnect" href="https://cdn.jsdmirror.com" crossorigin>

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partial "head/vendor.html" . }}