{{ $path := .Get "path" | default (.Get 0) }}
{{ with .Site.GetPage $path }}

<div class="plain-link-container article-card p-6 rounded-xl border-2 border-border/50 dark:border-border-dark/50 
    backdrop-blur
    shadow-sm shadow-muted/10 dark:shadow-muted-dark/10
    ring-1 ring-muted/20 dark:ring-muted-dark/20
    transition duration-300 
    hover:(ring-muted/30 dark:ring-muted-dark/30
    translate-y-[-2px]
    shadow-md shadow-muted/10 dark:shadow-muted-dark/10)">

    <!-- 文章信息 -->
    <div class="flex flex-col">
        <!-- 标题 -->
        <a href="{{ .RelPermalink }}" class="text-lg font-medium text-foreground 
            hover:text-primary transition-colors">
            {{ .Title }}
        </a>

        <!-- 元信息 -->
        <div class="mt-2 flex flex-wrap items-center gap-3 text-sm text-foreground/60">
            <!-- 发布时间 -->
            <div class="inline-flex items-center gap-1.5">
                <div class="i-carbon-time w-4 h-4"></div>
                <time datetime="{{ .Date }}" class="tabular-nums">
                    {{ .Date.Format "2006-01-02" }}
                </time>
            </div>

            <!-- 分类 -->
            {{ with .Params.category }}
            <div class="inline-flex items-center gap-1.5">
                <div class="i-carbon-category w-4 h-4"></div>
                <a href="/categories/{{ . | urlize }}" class="hover:text-primary transition-colors">
                    {{ . }}
                </a>
            </div>
            {{ end }}

            <!-- 标签 -->
            {{ with .Params.tags }}
            <div class="inline-flex items-center gap-1.5">
                <div class="i-carbon-tag w-4 h-4"></div>
                <div class="flex items-center flex-wrap gap-1">
                    {{ range . }}
                    <a href="/tags/{{ . | urlize }}" class="hover:text-primary transition-colors">
                        {{ . }}
                    </a>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>

        <!-- 描述 -->
        {{ with .Description }}
        <p class="mt-3 text-sm text-foreground/80 line-clamp-2">
            {{ . }}
        </p>
        {{ end }}
    </div>

    <!-- 绝对链接 -->
    <a href="{{ .RelPermalink }}" class="absolute inset-0" aria-label="阅读文章"></a>
</div>
{{ end }}